@model KidShop.Models.tbl_CategoryVideo
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Xóa phần phân loại video</h2>
            </div>
            <div class="card-body">
                <form asp-action="Delete" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Category_VideoID" class="control-label">Mã phân loại</label>
                            <input asp-for="Category_VideoID" class="form-control mb-3" disabled />
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Title" class="control-label">Ten phan loại</label>
                            <input asp-for="Title" class="form-control mb-3" disabled />
                        </div>


                    </div>
                    <input type="hidden" asp-for="Category_VideoID" />
                    <div class="form-group mt-3">
                        <a class="btn btn-lg btn-warning p-2 mr-3" href="javascript:history.back()">
                            <i class="bi bi-arrow-left-circle"></i> Quay Lại
                        </a>
                        <button type="submit" class="btn btn-lg btn-danger p-2">
                            <i class="bi bi-trash-fill"></i> Xóa phân loại
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
