@using KidShop.Utilities
@using KidShop.ViewModel
@using KidShop.ViewModel.User
@model ChangePasswordVM
 
<section class="blog-details-hero set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog__details__hero__text">
                    <h1>Đổi mật khẩu</h1>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="spad">
    <div class="container">
        <h3 class="text-center mb-4">🔐 Đổi mật khẩu</h3>

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">@TempData["SuccessMessage"]</div>
        }

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <p>@error.ErrorMessage</p>
                }
            </div>
        }
        <form method="post" asp-controller="User" asp-action="ChangePassword">
            @Html.AntiForgeryToken()
            <div class="form-group mb-3">
                <label>Mật khẩu hiện tại</label>
                <input asp-for="CurrentPassword" class="form-control" type="password" required />
            </div>

            <div class="form-group mb-3">
                <label>Mật khẩu mới</label>
                <input asp-for="NewPassword" class="form-control" type="password" required />
            </div>

            <div class="form-group mb-3">
                <label>Xác nhận mật khẩu mới</label>
                <input asp-for="ConfirmPassword" class="form-control" type="password" required />
            </div>

            <button type="submit" class="btn btn-primary w-100">Cập nhật mật khẩu</button>
        </form>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}