@model KidShop.Models.tbl_Introduce
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Xóa phần giới thiệu</h2>
            </div>
            <div class="card-body">
                <form asp-action="Delete" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="IntroduceID" class="control-label">Mã giới thiệu</label>
                            <input asp-for="IntroduceID" class="form-control mb-3" disabled />
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Title" class="control-label">Tiêu đề</label>
                            <input asp-for="Title" class="form-control mb-3" disabled />
                        </div>


                    </div>
                    <input type="hidden" asp-for="IntroduceID" />
                    <div class="form-group mt-3">
                        <a class="btn btn-lg btn-warning p-2 mr-3" href="javascript:history.back()">
                            <i class="bi bi-arrow-left-circle"></i> Quay Lại
                        </a>
                        <button type="submit" class="btn btn-lg btn-danger p-2">
                            <i class="bi bi-trash-fill"></i> Xóa giới thiệu
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
