@model IList<tbl_CategoryProduct>
@using KidShop.Models;
@using KidShop.Utilities;
<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="@item.Image">
                            <h5><a href="@Url.Action("Index", "Product", new { categoryId = item.Category_ProductID })">@item.CategoryName</a></h5>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->